# Auto detect text files and perform LF normalization

* linguist-language=C#

# Specific file types
*.cs linguist-language=C#
*.html linguist-language=HTML
*.htm linguist-language=HTML
*.css linguist-language=CSS

