# Auto detect text files and perform LF normalization
# Set default language to C#
* linguist-language=C#

# Specific file types
*.cs linguist-language=C#
*.html linguist-language=HTML
*.htm linguist-language=HTML
*.css linguist-language=CSS

